{
  "openapi": "3.0.3",
  "info": {
    "title": "SwipeRx Operator",
    "version": "Alpha 0.1",
    "description": "Ninja Van Indonesia's delivery-compliance and returns tool for the SwipeRx pharmaceutical account. Implant/DE staff turn a SwipeRx TMP batch file into a Ninja Van order-creation upload with a tokenized courier link per AWB; couriers open that link at the pharmacy to capture the required POD/RDO photos and flag rejected goods; ops then acknowledge each reject and record the replacement return TIDs.\n\nStaff endpoints are authenticated by the Substrait SSO gateway (X-Forwarded-Email) and authorized by role. The /api/c/{token} courier endpoints are deliberately unauthenticated: the link token is itself the credential, because riders open them from a delivery instruction on a phone with no account."
  },
  "servers": [
    {
      "url": "https://swiperx-operator.ninjavan.apps.substrait.build",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "system",
      "description": "Health and version."
    },
    {
      "name": "auth",
      "description": "Identity and session."
    },
    {
      "name": "users",
      "description": "Superadmin account administration."
    },
    {
      "name": "oc",
      "description": "Order-creation intake: parse a TMP batch, commit AWBs, download the NV upload."
    },
    {
      "name": "returns",
      "description": "Reject-return pipeline through to RTS and return TIDs."
    },
    {
      "name": "manual",
      "description": "Ad-hoc courier links outside a TMP batch."
    },
    {
      "name": "courier",
      "description": "Unauthenticated rider capture wizard; the link token is the credential."
    },
    {
      "name": "media",
      "description": "Stored blob retrieval."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "tags": [
          "system"
        ],
        "summary": "Unauthenticated readiness probe that always returns the literal object {\"status\": \"ok\"} without touching the database.",
        "responses": {
          "200": {
            "description": "Service is up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    }
                  }
                },
                "example": {
                  "status": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/api/version": {
      "get": {
        "operationId": "version",
        "tags": [
          "system"
        ],
        "summary": "Returns the configured app name and environment, the full app_version changelog newest-first (empty when no DB pool is initialised), and which sign-in mechanisms apply to this particular request.",
        "parameters": [
          {
            "name": "x-forwarded-email",
            "in": "header",
            "required": false,
            "description": "Injected by the Substrait platform SSO gateway. Its presence sets auth.sso_proxy to true and forces auth.dev_login to false.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version, changelog and per-request auth capabilities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/media/{key}": {
      "get": {
        "operationId": "media",
        "tags": [
          "media"
        ],
        "summary": "Streams the raw bytes of a stored blob looked up by its opaque storage key, replaying the content type recorded when it was uploaded.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Opaque storage ref (a UUID4 string as generated by BlobStorage.put; persisted in the *_ref columns).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "swiperx_session",
            "in": "cookie",
            "required": false,
            "description": "Local-dev JWT session cookie. Only consulted when the request did not arrive through the SSO gateway.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The blob body. The response Content-Type is whatever was stored alongside the bytes (image/jpeg, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, etc.), so it is not fixed by this spec.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "No SSO header and no valid session cookie (detail: not_authenticated or invalid_session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "No media_blob row for this key. Returned as a bare empty response with no body."
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/google/login": {
      "get": {
        "operationId": "google_login",
        "tags": [
          "auth"
        ],
        "summary": "Retired stub for the removed in-app Google OIDC flow; it performs no authentication and unconditionally redirects the caller to the app root.",
        "responses": {
          "307": {
            "description": "Temporary redirect to \"/\" (Starlette RedirectResponse default status). No response body.",
            "headers": {
              "Location": {
                "description": "Always \"/\".",
                "schema": {
                  "type": "string",
                  "example": "/"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/dev-login": {
      "post": {
        "operationId": "dev_login",
        "tags": [
          "auth"
        ],
        "summary": "Local-development stopgap that mints a JWT session cookie for any registered, active email address without a password, refusing outright unless DEV_LOGIN_ENABLED is on and the request did not come through the SSO gateway.",
        "parameters": [
          {
            "name": "x-forwarded-email",
            "in": "header",
            "required": false,
            "description": "If present at all, the endpoint hard-fails with 404 regardless of DEV_LOGIN_ENABLED.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DevLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session minted. Sets the swiperx_session cookie (HttpOnly, SameSite=Lax, path=/, max-age SESSION_TTL_SECONDS, Secure when PUBLIC_BASE_URL is https).",
            "headers": {
              "Set-Cookie": {
                "description": "swiperx_session=<JWT>; HttpOnly; SameSite=lax; Path=/; Max-Age=28800",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "roles"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Address is not registered or has been deactivated (detail: unknown_or_inactive).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "Dev login is switched off, or the request carried the SSO proxy header (detail: disabled).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation error (missing or non-string email).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "me",
        "tags": [
          "auth"
        ],
        "summary": "Resolves the caller's identity from the SSO header (falling back to the dev session cookie) and reports their database-backed roles plus a has_access flag that is false for an authenticated address no superadmin has registered yet.",
        "parameters": [
          {
            "name": "x-forwarded-email",
            "in": "header",
            "required": false,
            "description": "Primary identity source, injected by the platform gateway.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "swiperx_session",
            "in": "cookie",
            "required": false,
            "description": "Local-dev JWT fallback, used only when the SSO header is absent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current identity and roles. id is 0 and roles is empty for a gateway-authenticated address with no users row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "No SSO header and no valid session cookie (detail: not_authenticated or invalid_session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "operationId": "logout",
        "tags": [
          "auth"
        ],
        "summary": "Deletes the local swiperx_session cookie; the platform SSO session itself is unaffected and must be ended from the Substrait side.",
        "responses": {
          "200": {
            "description": "Cookie cleared.",
            "headers": {
              "Set-Cookie": {
                "description": "swiperx_session deletion cookie for path=/.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "operationId": "list_users",
        "tags": [
          "users"
        ],
        "summary": "Superadmin-only listing of every registered account ordered by id, with each account's roles fetched from user_roles and the TINYINT active column coerced to a boolean.",
        "responses": {
          "200": {
            "description": "All registered users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "users"
                  ],
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Caller has no identity (detail: not_authenticated or invalid_session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "Caller is authenticated but does not hold the superadmin role (detail: forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "register_user",
        "tags": [
          "users"
        ],
        "summary": "Superadmin-only registration of a new active account by lower-cased Google email, rejecting the request unless at least one submitted role is in the ALL_ROLES allowlist and no user already holds that address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created. email is the normalised (stripped, lower-cased) address; roles is the de-duplicated, allowlist-filtered set actually inserted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "email",
                    "roles"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "lastrowid of the users INSERT (0 if the driver reported none)."
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "None of the submitted roles is a known role (detail: no_valid_role).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "Caller has no identity (detail: not_authenticated or invalid_session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a superadmin (detail: forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "A users row already exists for this google_email (detail: already_registered).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{user_id}": {
      "patch": {
        "operationId": "update_user",
        "tags": [
          "users"
        ],
        "summary": "Superadmin-only partial update that replaces an existing user's whole role set (delete-then-reinsert) and/or flips their active flag, applying only the fields actually supplied.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "users.id of the account to update.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user id and its roles re-read from user_roles after the write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "roles"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "roles was supplied but contained no known role (detail: no_valid_role).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "Caller has no identity (detail: not_authenticated or invalid_session).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "Caller is not a superadmin (detail: forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "No users row with this id (detail: not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/services": {
      "get": {
        "operationId": "listServices",
        "tags": [
          "oc"
        ],
        "summary": "Returns the enabled OC service definitions (code, movement, service level, direction, branch and shipper identity) together with the warehouse origins, so the intake form can populate its service and origin pickers.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Service and origin catalogue read from oc_config.json.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "services",
                    "origins"
                  ],
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Origin"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role (detail: \"forbidden\").",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/preview": {
      "post": {
        "operationId": "previewIntake",
        "tags": [
          "oc"
        ],
        "summary": "Parses an uploaded SwipeRx TMP workbook against the chosen service and returns the grouped AWBs, piece totals and per-row errors without writing anything to the database.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "service",
                  "file"
                ],
                "properties": {
                  "service": {
                    "type": "string",
                    "description": "Service code; must match the `code` of an enabled service (e.g. S1, S2, S3)."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The SwipeRx TMP .xlsx workbook."
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parse result: what would be committed, plus the rows that failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "detail is \"unknown_service\" (code not in the enabled service list) or \"empty_file\" (zero-byte upload).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "The workbook is unusable as a whole (OcError) — unreadable xlsx or a header-cell check that identifies it as the wrong TMP for the chosen service. detail is the engine's free-text message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/create": {
      "post": {
        "operationId": "createIntake",
        "tags": [
          "oc"
        ],
        "summary": "Commits a parsed TMP batch: stores the source file, inserts one AWB row per group with an unguessable courier token and generated delivery instructions, inserts its PO lines, then builds and stores the Ninja Van upload .xlsx and the links .csv and returns the courier links plus download URLs.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "service",
                  "file",
                  "origin"
                ],
                "properties": {
                  "service": {
                    "type": "string",
                    "description": "Service code; must match the `code` of an enabled service (e.g. S1, S2, S3)."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The SwipeRx TMP .xlsx workbook."
                  },
                  "delivery_date": {
                    "type": "string",
                    "format": "date",
                    "nullable": true,
                    "description": "Single ISO yyyy-mm-dd delivery day written into col S of the upload. Omitted or empty means today."
                  },
                  "origin": {
                    "type": "string",
                    "description": "Origin warehouse code; must be a key of the configured origins (see GET /api/oc/services)."
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Intake created; AWBs, tokens, upload.xlsx and links.csv persisted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "detail is \"bad_delivery_date\" (not ISO yyyy-mm-dd), \"bad_origin\" (missing or not a configured origin), \"unknown_service\", or \"empty_file\".",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "detail is \"all_awbs_already_exist\" — every AWB in the file was already in the database, so nothing was committed; the intake row is left with status 'no_new_awbs' and awb/row counts of 0.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "detail is the engine's OcError message (unreadable/wrong workbook) or \"no_valid_awbs\" when the parse yielded no AWB groups at all.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/intakes": {
      "get": {
        "operationId": "listIntakes",
        "tags": [
          "oc"
        ],
        "summary": "Lists the 100 most recent order intakes, newest id first, with their service code, AWB/piece/row counts, status and stringified upload timestamp.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recent intakes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "intakes"
                  ],
                  "properties": {
                    "intakes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntakeSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/intakes/{intake_id}": {
      "get": {
        "operationId": "getIntakeDetail",
        "tags": [
          "oc"
        ],
        "summary": "Returns one intake's header row (including its error summary) alongside every AWB created from it, each with its courier URL rebuilt from the stored link token.",
        "parameters": [
          {
            "name": "intake_id",
            "in": "path",
            "required": true,
            "description": "order_intake.id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intake header plus its AWBs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "intake",
                    "awbs"
                  ],
                  "properties": {
                    "intake": {
                      "$ref": "#/components/schemas/IntakeDetail"
                    },
                    "awbs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntakeAwb"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "No intake with that id (detail: \"not_found\").",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteIntake",
        "tags": [
          "oc"
        ],
        "summary": "Deletes an intake together with all of its AWBs and their PO lines so the SwipeAWBs are free for a corrected re-upload, refusing outright if any AWB has courier activity (a driver submission, a status past 'created', a document capture, or a return parcel); the generated file blobs are intentionally left in storage.",
        "parameters": [
          {
            "name": "intake_id",
            "in": "path",
            "required": true,
            "description": "order_intake.id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Intake, AWBs and PO lines deleted; an oc_intake_delete audit_log entry is written. No response body."
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "No intake with that id (detail: \"not_found\").",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "detail is \"intake_has_courier_activity\" — at least one AWB in the batch has been submitted by a driver, moved past status 'created', has a document_capture row, or has a return_parcel referencing it. Nothing is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/links": {
      "get": {
        "operationId": "listCourierLinks",
        "tags": [
          "oc"
        ],
        "summary": "Returns every courier link ever created, newest first, optionally filtered by a substring matched against AWB id, pharmacy name or city, so an operator can find and copy a link on screen instead of downloading the CSV.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Trimmed and wrapped in % wildcards, then LIKE-matched against awb_id, pharmacy_name and city.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Row cap; clamped server-side into the range 1..2000.",
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 1,
              "maximum": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching courier links and the number returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "links",
                    "count"
                  ],
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CourierLinkRow"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Length of `links` (rows returned after the clamped limit), not a total match count."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/intakes/{intake_id}/upload.xlsx": {
      "get": {
        "operationId": "downloadIntakeUploadXlsx",
        "tags": [
          "oc"
        ],
        "summary": "Streams back the stored Ninja Van upload workbook generated for this intake, as an attachment named <Service>-upload_<YYYYMMDD-HHMM>.xlsx (falling back to the intake id if the row cannot be read).",
        "parameters": [
          {
            "name": "intake_id",
            "in": "path",
            "required": true,
            "description": "order_intake.id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The generated OC upload workbook. Sent with Content-Disposition: attachment.",
            "headers": {
              "Content-Disposition": {
                "description": "attachment; filename=\"<Service>-upload_<YYYYMMDD-HHMM>.xlsx\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "detail is \"not_found\" (no such intake, or it has no oc_template_ref) or \"file_missing\" (the referenced blob is absent from media storage).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/oc/intakes/{intake_id}/links.csv": {
      "get": {
        "operationId": "downloadIntakeLinksCsv",
        "tags": [
          "oc"
        ],
        "summary": "Streams back the stored courier-links CSV generated for this intake, as an attachment named <Service>-links_<YYYYMMDD-HHMM>.csv (falling back to the intake id if the row cannot be read).",
        "parameters": [
          {
            "name": "intake_id",
            "in": "path",
            "required": true,
            "description": "order_intake.id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The generated links CSV. Sent with Content-Disposition: attachment.",
            "headers": {
              "Content-Disposition": {
                "description": "attachment; filename=\"<Service>-links_<YYYYMMDD-HHMM>.csv\"",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not hold the implant, de or superadmin role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "detail is \"not_found\" (no such intake, or it has no links_file_ref) or \"file_missing\" (the referenced blob is absent from media storage).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}": {
      "get": {
        "operationId": "courierLanding",
        "tags": [
          "courier"
        ],
        "summary": "Unauthenticated entry point for a printed courier link: verifies the token matches an AWB and 307-redirects the rider to the SPA wizard route /c/{token}, keeping links printed under the old /api/c path working.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "The per-AWB link token (awb.link_token), a URL-safe secret of 24 random bytes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Token resolved; temporary redirect to the frontend wizard route /c/{token}. No response body.",
            "headers": {
              "Location": {
                "description": "/c/{token}",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No AWB carries this token (detail: \"invalid_link\").",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns": {
      "get": {
        "operationId": "list_returns",
        "tags": [
          "returns"
        ],
        "summary": "Returns up to 500 reject-return rows newest-first with their derived stage, closing pipeline, origin-unknown flag and at-the-door proof photos, optionally filtered to one derived stage.",
        "parameters": [
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Filter on the DERIVED stage. Rejected with 400 bad_stage if not one of the listed values.",
            "schema": {
              "type": "string",
              "enum": [
                "pending_de_upload",
                "pending_print",
                "printed",
                "rts_triggered",
                "tids_sent"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The worklist plus the RTS shipper account the deck mandates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "returns",
                    "rts_shipper_id"
                  ],
                  "properties": {
                    "returns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReturnRow"
                      }
                    },
                    "rts_shipper_id": {
                      "type": "string",
                      "description": "Constant RTS_SHIPPER_ID.",
                      "example": "11398434"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad_stage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated / invalid_session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires implant, de, station_ic or program_manager (superadmin always passes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/origin": {
      "post": {
        "operationId": "set_origin_bulk",
        "tags": [
          "returns"
        ],
        "summary": "Stamps the given origin warehouse onto only those selected return rows that currently have no origin, never overwriting one already recorded, and writes a return_origin_bulk_set audit entry.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids",
                  "origin"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "return_parcel.id values; empty list is rejected with 400 no_ids."
                  },
                  "origin": {
                    "type": "string",
                    "description": "Must be a key of oc_engine.CFG['origins'].",
                    "enum": [
                      "TMP_DEPOK",
                      "TMP_SURABAYA"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many rows were actually changed, and the origin applied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "updated",
                    "origin"
                  ],
                  "properties": {
                    "updated": {
                      "type": "integer"
                    },
                    "origin": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad_origin or no_ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — implant, de, station_ic, program_manager",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/export-oc.csv": {
      "get": {
        "operationId": "export_return_oc",
        "tags": [
          "returns"
        ],
        "summary": "Builds and downloads the Ninja return-OC CSV covering every partial (sebagian) reject still at pending_de_upload whose origin is known, excluding origin-unknown rows so nothing ships to the wrong city.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "CSV produced by oc_engine.build_return_csv; Content-Disposition: attachment; filename=\"Return-OC-pending.csv\".",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"Return-OC-pending.csv\""
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "no_exportable_rows — nothing is currently eligible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/mark-uploaded": {
      "post": {
        "operationId": "mark_uploaded_bulk",
        "tags": [
          "returns"
        ],
        "summary": "Records that DE pushed the exported return OC into Ninja: stamps de_uploaded_at/by and the generated <SwipeAWB>-R01 return tracking number on each selected partial reject still at pending_de_upload, moving it to Pending Print.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "return_parcel.id values; empty is 400 no_ids."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of rows moved to pending_print.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpdateResult"
                }
              }
            }
          },
          "400": {
            "description": "no_ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "origin_unknown — a selected row has no origin, so it must not be uploaded yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/mark-printed": {
      "post": {
        "operationId": "mark_printed_bulk",
        "tags": [
          "returns"
        ],
        "summary": "Closes each selected row sitting at pending_print by stamping printed_at/printed_by, recording that Station IC printed the label and repacked the parcel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of rows marked printed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpdateResult"
                }
              }
            }
          },
          "400": {
            "description": "no_ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires station_ic, implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/rts": {
      "post": {
        "operationId": "mark_rts_bulk",
        "tags": [
          "returns"
        ],
        "summary": "Stamps rts_requested_at/by on each selected full refusal (semua) still at pending_de_upload, closing it on its original forward tracking number without minting any new AWB.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Count of rows moved to rts_triggered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpdateResult"
                }
              }
            }
          },
          "400": {
            "description": "no_ids",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/export-rts.csv": {
      "get": {
        "operationId": "export_rts_csv",
        "tags": [
          "returns"
        ],
        "summary": "Downloads the BOM-prefixed RTS list of every full refusal at pending_de_upload or rts_triggered, with a rts_marked yes/no column so the file matches what was just bulk-marked.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "UTF-8 BOM + CSV, columns: forward_tracking_id, pharmacy, hub, reject_pcs, rejected_at, rts_marked.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"RTS-list.csv\""
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "no_exportable_rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/returns/export.csv": {
      "get": {
        "operationId": "export_csv",
        "tags": [
          "returns"
        ],
        "summary": "Downloads the whole worklist flattened to one audit CSV row per return, carrying every stage timestamp and the email of whoever stamped it, including the legacy validator and pasted-TID columns.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "UTF-8 BOM + CSV, columns: return_id, forward_awb, return_awb, pharmacy, city, reject_type, rejected_at, stage, closes_by, hub, origin, reject_pcs, legacy_validated_at, legacy_validated_by, de_uploaded_at, de_uploaded_by, printed_at, printed_by, rts_requested_at, rts_requested_by, legacy_return_tids.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"reject-returns.csv\""
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — implant, de, station_ic, program_manager",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manual/links": {
      "post": {
        "operationId": "create_manual_link",
        "tags": [
          "manual"
        ],
        "summary": "Creates one hand-typed test AWB (with its PO lines) in the real awb/po_line tables, mints an unguessable link token, and returns the courier URL together with the ready-to-paste col-R delivery-instructions string and the Ninja upload column values.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualLinkCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Everything needed to paste the link into Ninja by hand.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManualLinkCreated"
                }
              }
            }
          },
          "400": {
            "description": "awb_id_required, awb_id_too_long, unknown_service, bad_children_mode, bad_delivery_date, collies_must_be_positive or collies_above_cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires superadmin, implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "awb_already_exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "list_manual_links",
        "tags": [
          "manual"
        ],
        "summary": "Lists up to 200 newest test AWBs — those with intake_id IS NULL, i.e. created outside any TMP intake — replacing each stored link_token with its full courier URL.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Manual test links and how many were returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "links",
                    "count"
                  ],
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ManualLinkSummary"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires superadmin, implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manual/links/{awb_id}/upload.xlsx": {
      "get": {
        "operationId": "download_manual_row",
        "tags": [
          "manual"
        ],
        "summary": "Rebuilds this manual AWB and its PO lines from the database and streams back a one-row Ninja upload workbook so the tester can upload rather than retype it.",
        "parameters": [
          {
            "name": "awb_id",
            "in": "path",
            "required": true,
            "description": "Only matches rows with intake_id IS NULL.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XLSX workbook from oc_engine.build_upload_xlsx.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"manual-{awb_id}.xlsx\""
              }
            },
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires superadmin, implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "not_found — no manual AWB with that id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manual/links/{awb_id}": {
      "delete": {
        "operationId": "delete_manual_link",
        "tags": [
          "manual"
        ],
        "summary": "Deletes a test AWB and its PO lines so the same identifier can be retried, scoped to intake_id IS NULL so a real TMP-intake AWB can never be removed, and logs manual_link_delete.",
        "parameters": [
          {
            "name": "awb_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted; no response body."
          },
          "401": {
            "description": "not_authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "403": {
            "description": "forbidden — requires superadmin, implant or de",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "not_found — no manual AWB with that id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/order": {
      "get": {
        "operationId": "order",
        "tags": [
          "courier"
        ],
        "summary": "Resolves the link token to its single AWB and returns everything the courier app renders — address, PO lines, photos already captured, remembered driver/hub, the active hub list, the locked fail-reason list, and whether the link is expired or already terminal (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "awb.link_token — the sole credential for this route.",
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The courier order view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourierOrder"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/identity": {
      "post": {
        "operationId": "set_identity",
        "tags": [
          "courier"
        ],
        "summary": "Records the driver ID (numeric-only, max 32 chars) and hub on the AWB before any capture, validating the hub against the active hub master unless the driver ticked \"not listed\", in which case it is stored uppercased (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "driver_id",
                  "hub_name"
                ],
                "properties": {
                  "driver_id": {
                    "type": "string",
                    "description": "Digits only after stripping; max 32 chars.",
                    "maxLength": 32
                  },
                  "hub_name": {
                    "type": "string",
                    "description": "2-32 chars. Must exist in hub with active = 1 unless hub_not_listed is true.",
                    "minLength": 2,
                    "maxLength": 32
                  },
                  "hub_not_listed": {
                    "type": "boolean",
                    "default": false,
                    "description": "True skips the hub-master check and uppercases the typed value."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The values as stored (hub_name may be uppercased).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "driver_id",
                    "hub_name"
                  ],
                  "properties": {
                    "driver_id": {
                      "type": "string"
                    },
                    "hub_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "driver_id_must_be_numeric, driver_id_too_long, bad_hub_name or unknown_hub",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "already_submitted — AWB is in a terminal status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "410": {
            "description": "link_expired — older than 30 days",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/media/{ref}": {
      "get": {
        "operationId": "media",
        "tags": [
          "courier"
        ],
        "summary": "Streams a stored photo only after confirming the blob ref belongs to this token's AWB via document_capture or failed_delivery, so a token can never read another order's media (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "media_blob id (uuid4) held in document_capture.photo_ref or failed_delivery.proof_photo_ref.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The image bytes, served with the content type recorded at upload time.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "private, max-age=3600"
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/heic": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/heif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link, not_found (ref not owned by this AWB) or file_missing (blob gone)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/capture": {
      "post": {
        "operationId": "capture",
        "tags": [
          "courier"
        ],
        "summary": "Stores one uploaded photo against the AWB after validating doc type, size (12 MB cap) and image content type, replacing any prior shot of a single-shot doc type (or same-PO sp_manual), and stamping driver_submitted_at on first capture (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "doc_type",
                  "file"
                ],
                "properties": {
                  "doc_type": {
                    "type": "string",
                    "description": "Form field. sp_manual additionally requires po_number.",
                    "enum": [
                      "pharmacy_pod",
                      "receiver_pod",
                      "delivery_note",
                      "sp_manual",
                      "rejected_goods",
                      "awb_sticker",
                      "return_form"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "UploadFile. Non-empty, <= 12582912 bytes, content type must be image/jpeg, image/png, image/webp, image/heic or image/heif."
                  },
                  "timestamp_source": {
                    "type": "string",
                    "enum": [
                      "camera",
                      "exif"
                    ],
                    "default": "camera",
                    "description": "Form field. Echoed back in the response but not persisted on document_capture."
                  },
                  "po_number": {
                    "type": "string",
                    "nullable": true,
                    "description": "Form field. When supplied it must match a po_line row on this AWB."
                  },
                  "signed_stamped": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Form field. Stored as 0/1, or NULL when omitted."
                  },
                  "gps": {
                    "type": "string",
                    "nullable": true,
                    "description": "Form field, free text (VARCHAR(60))."
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "image/jpeg, image/png, image/webp, image/heic, image/heif"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The stored capture.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureCreated"
                }
              }
            }
          },
          "400": {
            "description": "unknown_doc_type, bad_timestamp_source, empty_file, sp_manual_needs_po or unknown_po",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "already_submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "410": {
            "description": "link_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "413": {
            "description": "photo_too_large — over 12 MB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "415": {
            "description": "unsupported_image_type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/capture/{capture_id}": {
      "patch": {
        "operationId": "attest",
        "tags": [
          "courier"
        ],
        "summary": "Sets or clears the signed+stamped attestation flag on one already-captured document belonging to this token's AWB (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "capture_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "signed_stamped"
                ],
                "properties": {
                  "signed_stamped": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The capture id and its new attestation value.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "signed_stamped"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "signed_stamped": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "invalid_link, or not_found when the capture is not on this AWB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "already_submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "410": {
            "description": "link_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_capture",
        "tags": [
          "courier"
        ],
        "summary": "Deletes one capture row on this token's AWB so the courier can retake the photo, leaving the underlying blob in media_blob (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "capture_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted; no response body."
          },
          "404": {
            "description": "invalid_link, or not_found when the capture is not on this AWB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "already_submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "410": {
            "description": "link_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/gate": {
      "get": {
        "operationId": "gate",
        "tags": [
          "courier"
        ],
        "summary": "Recomputes the server-side completeness gate for the given outcome and returns the human-readable Indonesian labels of whatever photos or attestations are still missing, so the app can disable its confirm button (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          },
          {
            "name": "outcome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "delivered",
                "reject"
              ],
              "default": "delivered"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate state for that outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateResult"
                }
              }
            }
          },
          "400": {
            "description": "bad_outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/submit": {
      "post": {
        "operationId": "submit",
        "tags": [
          "courier"
        ],
        "summary": "Re-checks the completeness gate then closes the delivery — sets the AWB to delivered with its return_type, records the submitting IP, and on a reject opens the ops reject-return worklist row (once per AWB) inheriting the forward order's origin (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "outcome"
                ],
                "properties": {
                  "outcome": {
                    "type": "string",
                    "enum": [
                      "delivered",
                      "reject"
                    ]
                  },
                  "return_type": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "sebagian",
                      "semua",
                      null
                    ],
                    "description": "Only read when outcome is reject; anything other than sebagian/semua falls back to sebagian."
                  },
                  "reject_pcs": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Pieces coming back. Required (> 0) on a reject unless the AWB is itself a return service."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always status 'delivered'; return_awbs carries the forward AWB id on a reject and is empty otherwise.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResult"
                }
              }
            }
          },
          "400": {
            "description": "bad_outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "already_submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "410": {
            "description": "link_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "Gate failed — detail is {\"error\": \"incomplete\", \"missing\": [...]}; or detail is the string \"reject_pcs_required\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/IncompleteError"
                    },
                    {
                      "$ref": "#/components/schemas/HTTPError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/c/{token}/fail": {
      "post": {
        "operationId": "fail",
        "tags": [
          "courier"
        ],
        "summary": "Records a failed delivery against one of the nine locked reason codes, reusing the most recent capture on the AWB as the proof photo, setting the AWB to delivery_failed with the submitting IP, and opening no return track (UNAUTHENTICATED: the token is the only credential).",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fail_reason"
                ],
                "properties": {
                  "fail_reason": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "not_ordered",
                      "address_wrong",
                      "moved",
                      "no_receiver",
                      "reschedule",
                      "office_closed",
                      "force_majeure",
                      "refused_sign"
                    ]
                  },
                  "reason_note": {
                    "type": "string",
                    "nullable": true
                  },
                  "gps": {
                    "type": "string",
                    "nullable": true,
                    "description": "Free text, VARCHAR(60)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Constant shape: status 'delivery_failed', return_flagged false, return_awbs empty.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailResult"
                }
              }
            }
          },
          "400": {
            "description": "unknown_fail_reason",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "404": {
            "description": "invalid_link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "409": {
            "description": "already_submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "410": {
            "description": "link_expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPError"
                }
              }
            }
          },
          "422": {
            "description": "No capture exists to use as proof — detail is {\"error\": \"incomplete\", \"missing\": [\"Foto bukti\"]}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncompleteError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Role": {
        "type": "string",
        "description": "A role from config.ALL_ROLES. Values outside this set are silently dropped by users._clean_roles.",
        "enum": [
          "superadmin",
          "program_manager",
          "de",
          "implant",
          "station_ic",
          "validator",
          "swiperx"
        ]
      },
      "User": {
        "type": "object",
        "description": "A row of the users table joined with its user_roles. Shape returned by GET /api/users.",
        "required": [
          "id",
          "name",
          "google_email",
          "active",
          "roles"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "google_email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "active": {
            "type": "boolean",
            "description": "users.active TINYINT(1), coerced to bool by the handler."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            }
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "description": "Identity envelope built by auth.me from the security.current_user dict.",
        "required": [
          "id",
          "email",
          "name",
          "roles",
          "has_access"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "users.id, or 0 for a gateway-authenticated address with no users row."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "users.google_email under SSO; the JWT 'email' claim on the dev-cookie path, which may be null."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "users.name under SSO (falls back to the email itself when unregistered); the JWT 'name' claim on the dev-cookie path, which may be null."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            }
          },
          "has_access": {
            "type": "boolean",
            "description": "bool(roles) — false means show the contact-admin screen."
          }
        }
      },
      "ChangelogEntry": {
        "type": "object",
        "description": "One app_version row as returned by GET /api/version. The id column is not selected.",
        "required": [
          "version",
          "notes",
          "released_at"
        ],
        "properties": {
          "version": {
            "type": "string",
            "maxLength": 20
          },
          "notes": {
            "type": "string"
          },
          "released_at": {
            "type": "string",
            "description": "DATETIME stringified with str(), so 'YYYY-MM-DD HH:MM:SS' rather than RFC 3339."
          }
        }
      },
      "VersionResponse": {
        "type": "object",
        "required": [
          "name",
          "env",
          "changelog",
          "auth"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "config.APP_VERSION (APP_VERSION env var, default 'Alpha 0.1')."
          },
          "env": {
            "type": "string",
            "description": "config.APP_ENV (APP_ENV env var, default 'alpha')."
          },
          "changelog": {
            "type": "array",
            "description": "app_version rows ordered by released_at DESC, id DESC. Empty when the DB pool is not initialised.",
            "items": {
              "$ref": "#/components/schemas/ChangelogEntry"
            }
          },
          "auth": {
[...]
